{# create a custom variable and use pre-process function for logic #}
{% set wrapper_attributes = create_attribute(wrapper_attributes) %}
{% set sidebar_wrapper_attributes = create_attribute(sidebar_wrapper_attributes) %}
<hr>{{ route_name }}<hr>
<div{{ wrapper_attributes.addClass(['container']) }}>
  {% if content.top %}
    <div class="row">
      <div class="col-sm-12 top-region">
        {{ content.top }}
      </div>
    </div>
  {% endif %}
  {% if content.sidebar_top or content.sidebar_bottom or content.main %}
    <div class="row">
      {% if content.sidebar_top or content.sidebar_bottom %}
        <div{{ sidebar_wrapper_attributes.addClass(['col-sm-12', 'col-md-4', 'offset-md-1', 'order-md-2']) }}>
          {% if content.sidebar_top %}
            {{ content.sidebar_top }}
          {% endif %}
          {% if content.sidebar_bottom %}
            {{ content.sidebar_bottom }}
          {% endif %}
        </div>
      {% endif %}
      {% if content.main %}
        <div class="col-sm-12 col-md-7 order-1 main-region">
          {{ content.main }}
        </div>
      {% endif %}
    </div>
  {% endif %}
  {% if content.bottom %}
    <div class="row">
      <div class="col-sm-12 bottom-region">
        {{ content.bottom }}
      </div>
    </div>
  {% endif %}
</div>
