<div class="container bcbb-brick-layout">
  {% if content.header %}
    <div class="header-region mt-4 mb-4 mb-md-5">
      {{ content.header }}
    </div>
  {% endif %}

  {% if content.top_right or content.top_left %}
    <div class="row mt-4 mb-4 mb-md-5 top-wrapper">
      {% if content.top_left %}
        <div class="col-md-6 mb-4 mb-md-0 top-left-region">
          {{ content.top_left }}
        </div>
      {% endif %}
      {% if content.top_right %}
        <div class="col-md-5 offset-md-1 top-right-region">
          {{ content.top_right }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if content.main %}
    <div class="main-region mb-4 mb-md-5">
      {{ content.main }}
    </div>
  {% endif %}

  {% if content.bottom_right or content.bottom_left %}
    <div class="row mb-4 mb-md-5 bottom-container">
      {% if content.bottom_left %}
        <div class="col bottom-left-region">
          {{ content.bottom_left }}
        </div>
      {% endif %}
      {% if content.bottom_right %}
        <div class="col bottom-right-region">
        {{ content.bottom_right }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if content.card_group %}
    <div class="card-group-region card-group mb-4 mb-md-5">
      {{ content.card_group}}
    </div>
  {% endif %}

  {% if content.footer %}
    <div class="footer-region mb-4 mb-md-5">
      {{ content.footer }}
    </div>
  {% endif %}

</div>
